<div class="top-panel">
  <img src="../../../assets/images/invocation/coins/holofactomchain_gold.gif" alt="">
</div>


<div class="CoinChainOuterBorder">
  <div class="CoinChainMiddleBorder">
    <div class="CoinChainInnerBorder">
      <div class="CoinChainWrap">
        <div class="CoinChain">
          <span class="masters-left">
            <div class="master" *ngFor="let master of leftMasters">
                <img [src]="'../../../assets/images/invocation/masters/' + master[masterIndex].fileName" alt="">
                {{master[masterIndex].name}}
            </div>
          </span>
          <span class="invocation-text">
              <span class="colored-text">{{coloredAffirmationText}}</span>{{normalAffirmationText}}
          </span>
          <span class="masters-right">
              <img src="../../../assets/images/invocation/masters/TadeuszLeft.jpg" alt="">
              Habdank Thaddeus
              <img src="../../../assets/images/invocation/masters/Sankta_Li_chingYuen.jpeg" alt="">
              Sankta Li Ching-Yuen
          </span>
        </div>
      </div>
    </div>
  </div>
</div>