<div class="top-panel">
  <img src="../../../assets/images/invocation/coins/holofactomchain_gold.gif" alt="">
</div>


<div class="CoinChainOuterBorder">
  <div class="CoinChainMiddleBorder">
    <div class="CoinChainInnerBorder">
      <div class="CoinChainWrap">
        <div class="CoinChain">
          <span class="masters-left">
            <img src="../../../assets/images/invocation/masters/cic.png" alt="">
            Cicciolina
            <img src="../../../assets/images/invocation/masters/cytherea2.jpg" alt="">
            Cytherea
            <img src="../../../assets/images/invocation/masters/sarah_carmen.jpg" alt="">
            Sarah Carmen
          </span>
          <span class="invocation-text" [innerHTML]="invocationText"></span>
          <span class="masters-right">
              <img src="../../../assets/images/invocation/masters/TadeuszLeft.jpg" alt="">
              Habdank Thaddeus
              <img src="../../../assets/images/invocation/masters/Sankta_Li_chingYuen.jpeg" alt="">
              Sankta Li Ching-Yuen
          </span>
        </div>
      </div>
    </div>
  </div>
</div>