.affirmationPanel {
    float: left;
    width: 100%;
}

.affirmationPanel p {
    margin: 0;
}

.leftPanel {
    float: left;
    width: 20%;
    background-color: rgb(255, 187, 41);
    border-radius: 10px;
    color: #8b0f0d;
}

.affirmation-list {
    padding: 20px;
}

.affirmations-list-header {
    float: left;
    width: 100%;
}

.affirmationListTitle {
    float: left;
    width: 70%;
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
    cursor: pointer;
    line-height: 24px;
}

.add-affirmation {
    float: left;
    width: 30%;
    cursor: pointer;
    line-height: 24px;
}

.selectAffirmation {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    display: grid;
}

.selectAffirmation li {
    float: left;
    width: 100%;
}

.selectAffirmation li .affirmation-title {
    float: left;
    width: 60%;
    cursor: pointer;
}

.selectAffirmation li .affirmation-edit-buttons {
    float: right;
    width: 40%;
    text-align: left;
}

.selectAffirmation li.selected {
    color: red;
}

.rightPanel {
    float: left;
    width: 40%;
    text-align: center;
}

.to-do {
    float: left;
    width: 40%;
    color: #edff00;
}

.todo-title {
    text-align: center;
    font-size: 36px;
}

.affirmation .affirmation-title {
    font-size: 30px;
}

.affirmation {
    background-image: url(../../../assets/images/OmegaSubaru.gif);
    background-size: 659px 864px;
    background-repeat: no-repeat;
    width: 296px;
    color: #800000;
    text-align: center;
    padding: 86px 179px;
    font-family: cursive;
    min-height: 700px;
    cursor: pointer;
    zoom: 0.8;
    display: inline-block;
}

.affirmation-edit {
    display: inline-block;
}

.superLogos {
    font-size: 14px;
    margin-right: 6px;
    font-weight: bold;
    margin-top: 51px;
}

.subLogoi {
    padding-right: 6px;
    width: max-content;
    margin: auto;
    line-height: 0.5;
}

.aveLogos {
    font-size: 22px;
}

.jhwhLogos {
    font-size: 32px;
}

.allaLogos {
    font-size: 32px;
    position: relative;
    top: 6px;
    float: right;
}

.entry-content {
    margin: 8px 2px;
}

.edit-content {
    height: 292px;
    border: 2px solid #8b0f0d;
    margin: 6px 0 9px;
    border-radius: 4px;
}

.edit-affirmation-title {
    border: 2px solid #8b0f0d;
    margin: -2px;
    border-radius: 10px;
}

.edit-content textarea, .edit-affirmation-title input {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    text-align: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    height: inherit;
    outline: none;
    overflow-x: hidden;
}

.text-controls {
    background: #f65b10;
    height: 54px;
    padding-left: 8px;
    border: 2px solid #8b0f0d;
    border-radius: 4px;
}

.text-controls span {
    float:left;
    width: 30%;
    margin-right:3%;
}

.text-controls span input {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.crud-icon {
    margin-left: 10px;
}

.crud-icon .fa {
    cursor: pointer;
}
