.affirmationPanel {
    float: left;
    width: 100%;
}

.affirmationPanel p {
    margin: 0;
}

.leftPanel {
    float: left;
    width: 20%;
    margin: 0 60px;
    background-color: rgba(45, 239, 221, 0.8);
    border-radius: 24px;
}

.affirmationListTitle {
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 16px;
    display: inline-block;
}

.selectAffirmation {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.selectAffirmation li {
    cursor: pointer;
    float: left;
    width: 100%;
}

.selectAffirmation li .affirmation-title {
    float: left;
    width: 50%;
}

.selectAffirmation li .affirmation-edit-buttons {
    float: right;
    width: 50%;
    text-align: left;
}

.selectAffirmation li.selected {
    color: red;
}

.rightPanel {
    float: left;
    width: 50%;
}

.affirmation .affirmation-title {
    font-size: 48px;
}

.affirmation {
    background-image: url(../../../assets/images/OmegaSubaru.gif);
    background-size: 659px 864px;
    background-repeat: no-repeat;
    width: 290px;
    color: #800000;
    text-align: center;
    padding: 66px 182px;
    font-family: cursive;
    min-height: 864px;
    cursor: pointer;
    zoom: 0.8;
    display: inline-block;
}

.affirmation-edit {
    display: inline-block;
}

.superLogos {
    font-size: 14px;
    margin-right: 6px;
    font-weight: bold;
    margin-top: 46px;
}

.subLogoi {
    padding-right: 6px;
    width: max-content;
    margin: auto;
    line-height: 0.5;
}

.aveLogos {
    font-size: 22px;
}

.jhwhLogos {
    font-size: 32px;
}

.allaLogos {
    font-size: 32px;
    position: relative;
    top: 6px;
    float: right;
}

.edit-content {
    height: 296px;
}

.edit-content textarea {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    text-align: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    outline: none;
}

.text-controls {
    background: #f65b10;
    height: 54px;
    padding-left: 8px;
    border: 2px solid #8b0f0d;
}

.text-controls span {
    float:left;
    width: 30%;
    margin-right:3%;
}

.text-controls span input {
    width: 100%;
    font-size: 18px;
    text-align: center;
}
