<div id="wave-container">
  <div class="dot" id="d1"></div>
  <div class="dot" id="d2"></div>
  <div class="dot" id="d3"></div>
  <div class="dot" id="d4"></div>
  <div class="dot" id="d5"></div>
  <div class="dot" id="d6"></div>
  <div class="dot" id="d7"></div>
  <div class="dot" id="d8"></div>
  <div class="dot" id="d9"></div>
  <div class="dot" id="d10"></div>
  <div class="dot" id="d11"></div>
  <div class="dot" id="d12"></div>
  <div class="dot" id="d13"></div>
  <div class="dot" id="d14"></div>
  <div class="dot" id="d15"></div>
  <div class="dot" id="d16"></div>
  <div class="dot" id="d17"></div>
  <div class="dot" id="d18"></div>
  <div class="dot" id="d19"></div>
  <div class="dot" id="d20"></div>
  <div class="dot" id="d21"></div>
  <div class="dot" id="d22"></div>
  <div class="dot" id="d23"></div>
  <div class="dot" id="d24"></div>
  <div class="dot" id="d25"></div>
  <div class="dot" id="d26"></div>
  <div class="dot" id="d27"></div>
  <div class="dot" id="d28"></div>
  <div class="dot" id="d29"></div>
  <div class="dot" id="d30"></div>
  <div class="dot" id="d31"></div>
  <div class="dot" id="d32"></div>
  <div class="dot" id="d33"></div>
  <div class="dot" id="d34"></div>
  <div class="dot" id="d35"></div>
  <div class="dot" id="d36"></div>
</div>