<div class="top-bar">

  <span *ngIf="(authService.user$ | async) as user; else loading">
    <button (click)="authService.signOut()" class="button">Logout</button>
  </span>
  <ng-template #loading>
    <span>
      <button (click)="authService.googleLogin()" class="button btn-social btn-google">
        <i class="fa fa-google"></i> Connect Google
      </button>
    </span>
  </ng-template>
  <app-navigation></app-navigation>
</div>
<div class="main-site">
  <router-outlet></router-outlet>
</div>